<main class="page">
    <div class="content-wrap">
        <h1 class="content-title title">
            Вход
        </h1>
        <form action="" id="login-form" method="post" class="form content-form">
            {{{inputLogin}}}
            {{{inputPassword}}}
            <div class="content-form__error">{{store.state.authError}}</div>
            <div class="content-form__button">
                {{{button}}}
            </div>
        </form>
        <div class="content-footer">
            <a href="../sign-up" class="button button_secondary" tabindex="0">Нет аккаунта?</a>
        </div>
    </div>
</main>
