.input-wrap {
    flex-grow: 0;
}

.input-label {
  display: block;
}

.input-field {
  display: block;
  border: 1px solid var(--white);
  height: 32px;
  padding: 4px 5px;
}

.input-field:focus {
  background: var(--blue-2);
}

.input-field[disabled] {
    color: var(--grey-2);
    background: var(--white);
}

.input-validation-message {
  display: block;
  min-height: 15px;
}

.input_mode_error .input-field {
  color: var(--red);
}
