.user-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 34px 5px 10px;
    cursor: pointer;


    &__name {
        font-size: 14px;
        padding: 0 10px;
    }

    &-selected {
        background: var(--blue-2) url("../../../static/checked.svg") 250px 13px no-repeat;
    }
}
