<form class="send-message-form">
    <button class="send-message-form__attach-button"></button>
    {{{inputMessage}}}
    <button class="send-message-form__send-button" type="submit"></button>
</form>
