@import "./variables.pcss";
@import "../partials/input/input.pcss";
@import "../partials/button/button.pcss";
@import "../partials/chat-item/chat-item.pcss";
@import "./fonts.pcss";

@import "../pages/login/login.pcss";
@import "../pages/error/error.pcss";
@import "../pages/chat/chat.pcss";
@import "../pages/profile/profile.pcss";

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
}
