:root {
  --main-color: #272838;
  --text-color: #f9f8f8;
  --main-bg-color: #f3de8a;

  --blue-1: #3369f3;
  --blue-2: #e4edfd;

  --grey-1: #1e1e1e;
  --grey-2: #999999;
  --grey-3: #fbfbfb;
  --grey-4: #efefef;
  --grey-5: #eaeaea;

  --white-1: #ffffff;
  
  --red-1: #ff2f2f;

  --color-text: var(--grey-1);
  --color-error: var(--red-3);

  --widnow-border-radius: 12px;
}
