:root {
  --blue-1: #3369f3;
  --blue-2: #e4edfd;
  --grey-1: #1e1e1e;
  --grey-2: #999;
  --grey-3: #fbfbfb;
  --grey-4: #efefef;
  --grey-5: #eaeaea;
  --grey-6: rgb(82 82 82 / 50%);
  --grey-7: rgb(0 0 0 / 40%);
  --white: #fff;
  --black: #000;
  --red: #ff2f2f;
  --widnow-border-radius: 12px;
}
