:root {
  --blue-1: #3369f3;
  --blue-2: #e4edfd;

  --grey-1: #1e1e1e;
  --grey-2: #999999;
  --grey-3: #fbfbfb;
  --grey-4: #efefef;
  --grey-5: #eaeaea;
  --grey-6: rgba(82, 82, 82, 0.5);

  --white: #ffffff;
  --white-alpha: rgba(255, 255, 255, 0.5);
  --black: #000000;

  --red: #ff2f2f;

  --widnow-border-radius: 12px;
}
