<div class="profile-image-wrap">
    <div class="change-image-msg avatar-l">
        {{avatarHoverText}}
    </div>
    {{#if avatarUrl}}
    <img src="{{avatarUrl}}" class="profile-avatar avatar-l" alt="avatar">
    {{else}}
    <div class="profile-avatar avatar-l profile-avatar-default"></div>
    {{/if}}
</div>
