<main class="page">
    <nav class="navigation">
        <ul class="link-list">
            {{#each pages}}
              <li class="nav-link-item">
                <a class="nav-link" href="{{this.link}}">{{this.label}}</a>
              </li>
            {{/each}}
        </ul>
    </nav>
</main>
