<div>
    {{#if isOpen}}
    <div class="backdrop">
        <div class="modal">
            <h1 class="modal-title">
                {{title}}
            </h1>
            <form action="" id="modal-form" class="form modal-form">
            {{#each items}}
                {{{this}}}
            {{/each}}
            </form>
        </div>
    </div>
    {{/if}}
</div>
