<div>
    {{#if isOpen}}
    <div class="backdrop">
        <div class="modal">
            <h1 class="modal-title title">
                {{title}}
            </h1>

            <div class="content-form__button">
                {{{buttonConfirm}}}
            </div>
        </div>
    </div>
    {{/if}}
</div>
