<div class="error-page__content">
    <h1 class="error-page__title">
        {{errorCode}}
    </h1>
    <div class="error-page__text base-text">
        {{messageText}}
    </div>
    <div class="error-page__action">
        <a href="/messenger" class="button button_secondary" tabindex="0">Назад к чатам</a>
    </div>
</div>
