.avatar {
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;
}

.avatar-default {
    background: var(--grey-4);
}

.avatar-s {
    width: 34px;
    height: 34px;
}

.avatar-m {
    width: 47px;
    height: 47px;
}
