.chat-feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 30px;

    &__date-delimeter {
        display: flex;
        justify-content: center;
        align-self: center;
        padding-bottom: 30px;
        font-size: 12px;
        line-height: 15px;
    }
}
