.input-label {
  display: block;
}

.input-field {
  display: block;
  border: 1px solid var(--white-1);
  height: 32px;
  padding: 4px 5px;
}

.input-field:focus {
  background: var(--blue-2);
}

.input-field[disabled] {
    color: var(--grey-2);
    background: var(--white-1);
}

.input-validation-message {
  display: block;
  min-height: 15px;
}

.input_mode_error .input-field {
  color: var(--red-1);
}
